@{
    ViewBag.Title = "Home Page";
}

<div id="main_column">
    
    @Html.Partial("Slider")   

</div>

<div id="RecentComments" class="dsq-widget">
    <h2>Recent Comments</h2>
    <script type="text/javascript" src="https://vidly-disqus-com.disqus.com/recent_comments_widget.js?num_items=5&hide_mods=0&hide_avatars=0&avatar_size=32&excerpt_length=100"></script>
</div>