body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.field-validation-error, 
label.error {
	color: red;
}

.input-validation-error,
input.error {
	border: 2px solid red;
}

div #disqus_thread {
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 40%;
}

div .description {
	position: absolute;
	margin-right: 50%;
}
.film_image img {
	width: 30%;
	height: 80%;
	float: right;
	margin: auto;
	margin: 10%;
}
div .form-group {
	width: 50%;
}
.film_image img {
	width: 30%;
	height: 50%;
	float: right;
	margin-top: 5%;
}
div .movieForm {
	float: left;
    width: 40%;
    margin-left: 10%;
}